/*
4c647c
8196aa
abbccc
*/

@mixin border-radius($rad : 3px) {
  -wekbit-border-radius: $rad; 
     -moz-border-radius: $rad;
          border-radius: $rad; 
}
@mixin box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
@mixin blue-gradient {
  background-color: #3cbae8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(60, 186, 232)),to(rgb(40, 154, 222)));
  background-image: -webkit-linear-gradient(top, rgb(60, 186, 232), rgb(40, 154, 222));
  background-image: -moz-linear-gradient(top, rgb(60, 186, 232), rgb(40, 154, 222));
  background-image: -o-linear-gradient(top, rgb(60, 186, 232), rgb(40, 154, 222));
  background-image: -ms-linear-gradient(top, rgb(60, 186, 232), rgb(40, 154, 222));
  background-image: linear-gradient(top, rgb(60, 186, 232), rgb(40, 154, 222));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3cbae8', EndColorStr='#289ade');
}
@mixin orange-gradient {
  background-color: #ec8608;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 134, 8)),to(rgb(226, 84, 6)));
  background-image: -webkit-linear-gradient(top, rgb(236, 134, 8), rgb(226, 84, 6));
  background-image: -moz-linear-gradient(top, rgb(236, 134, 8), rgb(226, 84, 6));
  background-image: -o-linear-gradient(top, rgb(236, 134, 8), rgb(226, 84, 6));
  background-image: -ms-linear-gradient(top, rgb(236, 134, 8), rgb(226, 84, 6));
  background-image: linear-gradient(top, rgb(236, 134, 8), rgb(226, 84, 6));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ec8608', EndColorStr='#e25406');
}
@mixin green-gradient {
  background-color: #85c400;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(133, 196, 0)),to(rgb(91, 170, 0)));
  background-image: -webkit-linear-gradient(top, rgb(133, 196, 0), rgb(91, 170, 0));
  background-image: -moz-linear-gradient(top, rgb(133, 196, 0), rgb(91, 170, 0));
  background-image: -o-linear-gradient(top, rgb(133, 196, 0), rgb(91, 170, 0));
  background-image: -ms-linear-gradient(top, rgb(133, 196, 0), rgb(91, 170, 0));
  background-image: linear-gradient(top, rgb(133, 196, 0), rgb(91, 170, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#85c400', EndColorStr='#5baa00');
}

body {
  background-color: #e6edf3;
}

.wrapper {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}

a {
  color: #009ddf;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}

/* Typography */
h1 {
  font-family: "EffraRegular", "Helvetica Neue", Arial, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: normal;
  color: #232323;
}
h2 {
  font-family: "EffraRegular", "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
}
h3 {
  font-family: "EffraRegular", "Helvetica Neue", Arial, sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
}
h4,
h5,
h6 {
  font-family: "EffraLightRegular", "Helvetica Neue", Arial, sans-serif;
  line-height: 22px;
  font-weight: normal;
}
h4 {
  font-family: "EffraLightRegular", "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
}
h4 small {
  font-family: "EffraLightRegular", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
}
h5 {
  font-family: "EffraLightRegular", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

#loginModal {
  .modal-header {
    background-color: #4c647c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(76, 100, 124)),to(rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top, rgb(76, 100, 124), rgb(255, 255, 255));
    background-image: -moz-linear-gradient(top, rgb(76, 100, 124), rgb(255, 255, 255));
    background-image: -o-linear-gradient(top, rgb(76, 100, 124), rgb(255, 255, 255));
    background-image: -ms-linear-gradient(top, rgb(76, 100, 124), rgb(255, 255, 255));
    background-image: linear-gradient(top, rgb(76, 100, 124), rgb(255, 255, 255));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4c647c', EndColorStr='#ffffff');

    h3 {
      color: #333;
      font-family: "EffraRegular", "Helvetica Neue", Arial, sans-serif;
    }
  }
}

#modal-login-form {
  margin-top: 18px;

  .control-label {
    font-family: "EffraRegular", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    text-shadow: 0px 1px 1px #999;
  }

  .controls {
    height: 42px;

    label.error {
      font-size: 12px;
      line-height: 18px;
      height: 18px;
      color: #B94A48;
      margin-bottom: 2px;
    }
  }

  .btn-login {
    color: #f0f0f0;
    text-shadow: 0px 1px 1px #666;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 17px;
    @include border-radius(17px);
    @include blue-gradient();

    &:hover {
      background-color: #289ade;
    }
  }
}

.logo-holder {
  margin: 0;
}

.logo {
  float: left;
  margin-top: 9px;

  h1 {
    color: #4c647c;
    font-size: 38px;
    line-height: 50px;
    text-shadow: 0px 1px 2px #000;
    float: left;
    margin-right: 15px;
  }
  p {
    color: #4c647c;
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    float: left;
  }
}

.login-menu {
  float: right;
  height: 50px;

  a.btn-login,
  .btn-group {
    margin-top: 20px;
  }

  .btn-login {
    color: #f0f0f0;
    text-shadow: 0px 1px 1px #666;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 17px;
    @include border-radius(17px);
    @include orange-gradient();

    &:hover {
      background-color: #e25406;
    }
  }

  .btn-group {
    .btn {
      color: #f0f0f0;
      text-shadow: 0px 1px 1px #666;
      font-size: 14px;
      line-height: 21px;
      padding: 4px 17px;
      @include blue-gradient;

      &:hover {
        background-color: #289ade;
      }
    }
  }
}

.content {
  margin-bottom: 25px;

  .row {
    margin-left: 0;
    position: relative;
  }

  .heading-holder {
    background-color: #fff;
    @include border-radius(5px);
    @include box-shadow;
    
    h2 {
      text-align: center;
      font-size: 32px;
      line-height: 40px;
      color: #253e51;
      margin: 30px 0 25px;
    }
    hr {
      margin: 15px 20px 35px;
    }
    [class*="col"] {
      float: left;
      margin-right: 29px;
      width: 280px;
      min-height: 178px;

      .cool-business-img {
        width: 280px;
        height: 178px;        
      }

      h4 {
        text-align: center;
        margin-top: 25px;
        font-size: 19px;
        line-height: 25px;
      }
      p {
        margin: 7px 15px 25px;
      }
    }
    .col1 {
      margin-left: 29px;
      .cool-business-img {
        background: url('../img/small.png') no-repeat 0px 4px;
      }
    }
    .col2 {
      .cool-business-img {
        background: url('../img/small.png') no-repeat -280px 7px;
      }
    }
    .col3 {
      .cool-business-img {
        background: url('../img/small.png') no-repeat 0px -174px;
      }
    }
  }

  //profile page
  .mba {
    margin: 0 20px;
    height: 296px;
    background: #fff url('../img/mba-tmaw-bc.png') no-repeat 0 0;

    .mba-text {
      margin-left: 560px;
      width: 320px;
      text-align: left;

      h3 {
        margin-bottom: 15px;
      }
    }

  }

  .ipad {
    margin: 0px 20px;
    height: 343px;
    background: #fff url('../img/ipad-tmaw-bc.png') no-repeat 475px 0;

    .ipad-text {
      width: 420px;
      text-align: left;

      h3 {
        margin-bottom: 15px;
      }
    }
  }

  .sub-slide {
    width: 920px;
    margin: 25px 20px 0px;
    border-top: 1px solid #e0e0e0;

    h3 {
      margin-top: 20px;
      text-align: center;
    }
    .blue-arrow {
      margin: 20px auto;
      height: 70px;
      width: 70px;
      display: block;
      background: url('../img/blue-arrow.png') no-repeat center center;  
      cursor: pointer;
    }
  }
}


.sign-up-holder {
  margin-top: 45px;
  background-color: #fff;
  @include border-radius(5px);
  @include box-shadow();

  h2 {
    text-align: center;
    margin: 30px 0 5px;
  }
  p {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.06em;

    .seconds {
      color: #ec8608;
    }
  }

  .sing-up-list {
    margin: 0px;
    list-style: none;
    li {
      float: left;
      width: 290px;
      position: relative;

      p {
        text-align: left;
        margin: 10px 10px;
        color: #fff;
      }

      input {
        margin: 0px 0px 10px 10px;
        width: 258px;
        font-size: 16px;
        height: 22px;

        &:focus {
          box-shadow: none;
          border-color: white;
        }
      }

      .info {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 12px;
        height: 12px;
      }
      label.error {
        position: absolute;
        font-size: 12px;
        padding: 3px 8px;
        color: #F2DEDE;
        text-align: center;
        text-decoration: none;
        border-color: #EED3D7;
        background-color: #B94A48;
        @include border-radius();
      }
    }
    li.username {
      margin-left: 25px;
      margin-right: 20px;
      @include orange-gradient;
      @include border-radius();
      
      label.error {
        bottom: -25px;
        left: 10px;
      }
    }
    li.password {
      margin-right: 20px;
      @include blue-gradient;
      @include border-radius();

      label.error {
        bottom: -25px;
        left: 10px;
      }
    }
    li.email {
      margin-right: 25px;
      @include green-gradient;
      @include border-radius();

      label.error {
        bottom: -25px;
        left: 10px;
      }
    }
  }

  .submit-holder {
    clear: both;
    width: 213px;
    height: 52px;
    margin: 0 auto;
    padding: 25px 0 13px;
  }
  .btn-submit {
    width: 213px;
    height: 52px;
    border: 0;
    cursor:pointer;
    background: transparent url('../img/submit-btns.png') no-repeat scroll 0px 0px;

    &:hover {
      background-position: 0px -57px;
    }
  }

  .social-sign-in {
    width: 910px;
    margin: 25px auto;

    hr {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #fff;
      margin:0px 0px 25px;
    }
    .buttons-holder {
      width: 400px;
      margin: 0 auto;
      ul {
        list-style: none;
        margin:0;
        li {
          width: 194px;
          float: left;
          margin-right: 12px;
        }
        li:last-child {
          margin-right: 0px;
        }
      }
      
    }
  }
}

.profile-details {
  margin-top: 45px;
  background-color: #fff;
  @include border-radius(5px);
  @include box-shadow();
  position: relative;

  #account-details-form {
    margin: 25px 20px;

    h3 {
      margin-left: 120px;
    }

    fieldset {
      margin-top: 25px;
    }

    .control-label {
      font-family: "EffraRegular", "Helvetica Neue", Arial, sans-serif;
      font-size: 15px;
      text-shadow: 0px 1px 1px #999;
    }

    .controls {
      height: 38px;

      .error-block {
        display: inline;
      }

      p.error {
        background:url("../img/error.png") no-repeat left center;
        padding-left: 18px;
        color: #CC3333;
        display: inline;
        margin-left: 7px;
        line-height: 16px;
      }
      p.success {
        background:url("../img/accept.png") no-repeat left center;
        padding-left: 18px;
        color: #339900;
        display: inline;
        margin-left: 7px;
        line-height: 16px;
      }

    }
  }

  .mila {
    width: 144px;
    height: 140px;
    position: absolute;
    background: url('../img/small.png') no-repeat -300px -171px;
    top: 100px;
    right: 100px;
  }
}


.form-holder {
  min-height: 250px;
  width: 500px;
  padding: 25px 30px;
  // background-color: #8196aa;
  background: url('../img/modal-bc.png') repeat;
  @include border-radius(5px);
  @include box-shadow();
  position: relative;

  #single-form {
    //margin: 30px 20px;

    h3 {
      margin-left: 120px;
    }

    fieldset {
      margin-top: 25px;
    }

    .control-label {
      font-family: "EffraRegular", "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
      text-shadow: 0px 1px 1px #ccc;
      color: #333;
    }

    .controls {
      position: relative;
      
      input[type="text"]:focus, 
      input[type="password"]:focus {
        border-color: #2f2f2f;
        -webkit-box-shadow: 0 0 6px #333;
        -moz-box-shadow: 0 0 6px #333;
        box-shadow: 0 0 6px #333;
      }
      input[type="text"].error:focus,
      input[type="password"].error:focus {
        border-color: #953B39;
        -webkit-box-shadow: 0 0 6px #D59392;
        -moz-box-shadow: 0 0 6px #D59392;
        box-shadow: 0 0 6px #D59392;
      }
      .help-block {
        color: #b0b0b0;
        margin-top: 5px;
      }

      .error-block {
        position: absolute;
        top: 5px;
        right: 35px;

          p.error {
          background:url("../img/error.png") no-repeat left center;
          padding-left: 18px;
          color: #CC3333;
          display: none;
          margin-left: 7px;
          line-height: 16px;
        }
        p.success {
          background:url("../img/accept.png") no-repeat left center;
          padding-left: 18px;
          color: #339900;
          display: none;
          margin-left: 7px;
          line-height: 16px;
        }
      }


    }
  }
}


.footer {
  text-align: center;
  font-size: 0.93em;
  margin: 5px 0 10px;
}



